<h1>Companies</h1>
<%= link_to "New", new_company_path%>
<table>
  <thead>
    <th>Name</th>
    <th>Country</th>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
    <tr>
      <td>
        <%= company.name %>
      </td>
      <td>
        <%= company.country %>
      </td>
      <td>
        <%= link_to "Show", company_path(company) %>
      </td>
      <td>
        <%= link_to "Edit", edit_company_path(company) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
