<h1><%= @company.name %></h1>
<strong><%= @company.country %></strong>
<strong><%= @company.start_date %></strong>
<p><%= @company.description %></p>
<%= link_to 'Back', companies_path %>
<%=link_to "Delete this Company", company_path(@company), method: :delete, data: { confirm: "Really delete the company?" } %>